<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library of Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="'container mt-5">
        <h1>Library</h1>
        <form action= "{{url_for('add')}}" methods = "POST">
            <div class="form-group mt-2 mb-4">
                <input type="text" name="title" class="form-control" placeholder="Book Title" required>
            </div>
            <div class="form-group mb-5">
                <input type="text" name="author" class="form-control" placeholder="Author" required
            </div>
            <button type="submit" class="btn btn-primary m-3">Add Book</button>
        </form>
        <ul class="list-group mt-4">
            {%for book in books%}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>{{book.title}} </strong>>by {{book.author}}
                    </div>
                    <a href="{{url_for('delete', book_id = book.book_id) }}" class="btn btn-danger btn-sm">Delete</a>
                </li>
            {%endfor%}
         </ul>
    </div>
</body>
</html>